<!-- Partials - Reutilização de código repetido em todas as páginas -->

<header>
	<h1>Fake User Creation</h1>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<% if (loggedUser) { %>
			<li>Welcome, <%=loggedUser.name%></li>
			<li><a href="/logout">Log out</a></li>
			<%} else { %>
			<li><a href="/login">Log in</a></li>
			<% } %>
			<li>
				<a role="button" href="/create-user">Create User</a>
			</li>
		</ul>
	</nav>
</header>
