<!-- Partials - Reutilização de código repetido em todas as páginas -->

<header>
	<h1>Fake User Creation</h1>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="#">Admin Login</a></li>
			<li>
				<a role="button" href="/create-user">Create User</a>
			</li>
		</ul>
	</nav>
</header>
