<!-- Partials - Reutilização de código repetido em todas as páginas -->
<%- include('./partials/head.ejs') %> <%- include('./partials/nav.ejs') %>
<h2>[Error 404] Sorry, the page you requested was not found ;(</h2>
<%- include('./partials/footer.ejs') %>
